@model Clinic.Models.ClinicModels.Appointment

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Appointment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Patient
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Patient.FirstName)
            @Html.DisplayFor(model => model.Patient.LastName)
        </dd>
        <dt>
            Doctor
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Doctor.FirstName)
            @Html.DisplayFor(model => model.Doctor.LastName)
        </dd>
        <dt>
            Date
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
    </dl>
    <dl class="dl-horizontal"></dl>

</div>

    <h4>Diagnoses</h4>
    <a href="Index">Add</a>
    @*///////////////////////////////////////////////////////////*@ 
    @foreach (var item in Model.AppliedDiagnoses)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Diagnos.Name)
                @Html.DisplayFor(modelItem => item.Diagnos.Description)
            </td>
           
            <td>
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
